* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  min-height: 100vh;
  background: rgb(245, 220, 191);
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-container {
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
  height: 600px;
  width: 380px;
  background: #626262;
  border: #c8c9bb solid;
}

.img-container {
  height: 300px;
  width: 334px;
  position: relative;
  top: -50;
  margin: auto;
  border-radius: 20px;
  background-color: #c8c9bb;
  border: #c8c9bb solid;
  margin-top: 20px;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}

#song-info-container {
  border: #c8c9bb solid;
  background-color: rgb(43, 48, 39);
  color: #42af98;
  width: 90%;
  position: relative;
  margin: auto;
  margin-top: 10px;
  border-radius: 20px;
}

#song-info-container #title {
  width: 95%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: text-indent 7s linear;
  margin: 10px;
}

#song-info-container #artist {
  width: 95%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: text-indent 7s linear;
  margin: 10px;
}

#song-info-container:hover #title {
  text-indent: -400px;
}

#progress-container {
  height: 4px;
  width: 90%;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
}

#progress {
  background: black;
  border-radius: 5px;
  height: 100%;
  width: 0.1%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

.player-controls {
  position: relative;
  width: 200px;
  margin: auto;
  margin-top: 20px;
}

.fas {
  font-size: 30px;
  margin-right: px;
  color: black;
  cursor: pointer;
  user-select: none;
}

.fas:hover {
  filter: brightness(80%);
}

@media screen and (max-width: 376px) {
  .player-container {
    width: 95vw;
  }
}
