* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  min-height: 100vh;
  background-color: #eacaca;
  background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2313645d' fill-opacity='0.95' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-container {
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
  height: 600px;
  width: 380px;
  background: #626262;
  border: #c8c9bb solid;
}

.img-container {
  height: 300px;
  width: 90%;
  position: relative;
  top: -50;
  margin: auto;
  border-radius: 20px;
  background-color: #c8c9bb;
  border: #c8c9bb solid;
  margin-top: 20px;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}

#song-info-container {
  border: #c8c9bb solid;
  background-color: rgb(43, 48, 39);
  color: #42af98;
  width: 90%;
  position: relative;
  margin: auto;
  margin-top: 10px;
  border-radius: 20px;
}

#song-info-container #title {
  width: 95%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: text-indent 7s linear;
  margin: 10px;
}

#song-info-container #artist {
  width: 95%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: text-indent 7s linear;
  margin: 10px;
}

#song-info-container:hover #title {
  text-indent: -400px;
}

#progress-container {
  height: 4px;
  width: 90%;
  background: black;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
}

#mute {
  position: absolute;
  right: 0px;
  margin-right: 13px;
  bottom: 10px;
  color: #42af98;
}

#progress {
  background: #42af98;
  border-radius: 5px;
  height: 100%;
  width: 0.1%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

.player-controls {
  position: relative;
  width: 220px;
  margin: auto;
  margin-top: 22px;
  display: flex;
  justify-content: space-evenly;
}

.button-wrapper {
  background-color: #c8c9bb;
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
  text-align: center;
}

.fas {
  font-size: 30px;
  margin: auto;
  color: black;
  user-select: none;
  margin-top: 14px;
}
.button-wrapper:hover {
  filter: brightness(80%);
  cursor: pointer;
}

#vol-control {
  -webkit-appearance: slider-vertical;
  position: relative;
  right: 45px;
  top: -120px;
}

@media screen and (max-width: 376px) {
  .player-container {
    width: 95vw;
  }
}
